<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <h1>
        <a href="{{ site.baseurl }}">
          <img class="profile-picture" src="{{ site.baseurl }}public/225e531.jpg" />
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item x-small-tooltip{% if page.url == site.baseurl %} active{% endif %}" title="Blog" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
      <a class="sidebar-nav-item x-small-tooltip{% if page.url == 'talks' %} active{% endif %}" title="Talks" href="{{ site.baseurl }}talks"><i class="fa fa-bullhorn"></i></a>
      <a class="sidebar-nav-item x-small-tooltip" title="E-mail" href="mailto:niklas@modess.io"><i class="fa fa-envelope"></i></a>
      <a class="sidebar-nav-item x-small-tooltip" title="Twitter" href="https://twitter.com/niklasmodess"><i class="fa fa-twitter"></i></a>
      <a class="sidebar-nav-item x-small-tooltip" title="Github" href="https://github.com/modess"><i class="fa fa-github"></i></a>
      <a class="sidebar-nav-item x-small-tooltip" title="RSS" href="/atom.xml"><i class="fa fa-feed"></i></a>
    </nav>
  </div>
</div>
